STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
{
500, "Програму додано до автозапуску без прав адміністратора."
501, "Програму додано до автозапуску."
502, "Програму видалено з автозапуску."
503, "Під час додавання програми до автозапуску сталася помилка."
504, "Під час видалення програми з автозапуску сталася помилка."
}