STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
{
0, "Українська"
1, "Battery Mode"
2, "Оберіть план живлення:"
3, "&Додаткові параметри"
4, "Використовувати &одноколірні піктограми"
5, "Н&алаштування сполучень клавіш\t%0:s"
6, "&Автозапуск"
7, "Фіксована &яскравість дисплея"

9, "В&ихід"
10, "Версія"
11, "Відвідати веб-&сайт Battery Mode (рос.)"
12, "http://bmode.tarcode.ru"
13, "І&нформація про систему електроживлення"

15, "&Електроживлення"
16, "&Увімкнути або вимкнути системні піктограми"
17, "Центр &підтримки портативних ПК"

20, "&Показ індикатора плану живлення"
21, "Прихова&но"
22, "На &основному моніторі"
23, "На &всіх моніторах"

26, "Показувати приховані плани живлення"

30, "Увімкнути адаптивну яскравість"
31, "Вимкнути адаптивну яскравість"

40, "http://bmode.tarcode.ru/update.uurl"
41, "Автоматичне &оновлення"
42, "Увімкнути &автоматичне оновлення"
43, "&Перевірити наявність оновлень"
44, "Доступна нова версія %0:s\nКлацніть тут, щоб отримати додаткові відомості"
45, "Оновлення виконано успішно\nНова версія %0:s"
46, "Не вдалося виконати оновлення\nКлацніть тут, щоб відвідати веб-сайт"

50, "Керування &яскравістю моніторів"
51, "Пошу&к моніторів"

60, "Економія енергії"

70, "Стиль &піктограм"
71, "Windows &7"
72, "Windows &8"
73, "Windows &10"
74, "Windows &8 Light"
75, "Windows &10 Light"

80, "П&ланувальник"

90, "Сполучення клавіш для зміни плану живлення"
91, "Вимкнено"

100, "Експорт налаштувань до файлу"
101, "Імпорт налаштувань із файлу"

105, "Налаштування %0:s"
106, "Експорт файлу налаштувань %0:s"
107, "Імпорт файлу налаштувань %0:s"

110, "Файли реєстрації записів (*.reg)"
111, "Текстові файли (*.txt)"
112, "Усі файли"

120, "Колір &піктограм"
121, "За &планом живлення"
122, "За &зарядом батареї"
123, "&Білий"

10000, "Відкрити папку журналів налагодження"
}