STRINGTABLE
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
{
0, "日本語(&J)"
1, "Battery Mode"
2, "電源プラン:"
3, "高度な設定(&S)"
4, "モノクロのアイコンを使用(&M)"
5, "ホットキー設定(&S)"
6, "Windows起動時に自動で起動する(&A)"
7, "固定された画面の明るさ(&B)"

9, "終了(&X)"
10, "バージョン"
11, "Battery Mode webサイト(&W)"
12, "https://bmode.tarcode.ru"
13, "電源供給システムの情報(&I)"

15, "電源オプションを開く(&P)"
16, "システムアイコンのオン/オフ(&E)"
17, "Windowsモビリティセンター(&M)"

20, "電源プランのインジケーター表示(&I)"
21, "隠す(&H)"
22, "プライマリモニターだけ(&P)"
23, "すべてのモニター(&A)"

26, "非表示の電源プランを表示"

30, "明るさの自動設定を有効化"
31, "明るさの自動設定を無効化"

40, "https://bmode.tarcode.ru/update.uurl"
41, "自動アップデート(&U)"
42, "自動アップデートを有効化(&O)"
43, "アップデートを確認(&E)"
44, "新しいバージョン %0:s が利用可能です\nクリックすると詳細を表示します"
45, "アップデート成功\n新しいバージョンは %0:s です"
46, "アップデート失敗\nクリックするとwebサイトが開きます"

50, "明るさスライダーを表示するモニター(&B)"
51, "モニターをスキャン(&N)"
52, "内部モニター"
53, "明るさスライダー(&R)"
54, "モニターのモデルを表示(&M)"
55, "明るさをパーセンテージで表示(&B)"

60, "バッテリーセーバー"

70, "アイコンスタイル(&A)"
71, "Windows 7(&7)"
72, "Windows 8(&8)"
73, "Windows 10(&1)"
74, "Windows 8 Light(&L)"
75, "Windows 10 Light(&I)"

80, "スケジューラー(&H)"

90, "電源プランを変更するホットキーの組み合わせ"
91, "無効"

100, "設定をエクスポートする"
101, "設定をインポートする"

105, "%0:s 設定"
106, "%0:s 設定をエクスポート"
107, "%0:s 設定をインポート"

110, "レジストリファイル (*.reg)"
111, "テキストファイル (*.txt)"
112, "すべてのファイル"

120, "アイコンの色(&C)"
121, "電源プランの色(&S)"
122, "バッテリー残量の色(&B)"
123, "白(&W)"
124, "電源プランの色(反転)(&P)"
125, "バッテリー残量の色(&C)"

130, "ポップアップウインドウの枠を無効化(&R)"

134, "シャットダウン、またはサインアウト(&U)"
135, "ポップアップの下側に表示するショートカット(&L)"
136, "画面の電源を切る(&O)"
137, "シャットダウン(&U)"
138, "再起動(&R)"
139, "スリープ(&S)"
140, "休止状態(&H)"
141, "サインアウト(&I)"
142, "ロック(&L)"
143, "トラブルシューティング(&T)"
144, "バッテリー状態(&B)"
145, "切断(&D)"

150, "言語(&L)"
151, "&Default"

10000, "Debugログフォルダを開く"
}
