STRINGTABLE
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JP
{
500, "管理者権限なしでスタートアップに追加されました。"
501, "スタートアップに追加されました。"
502, "スタートアップから削除されました。"
503, "スタートアップに追加中にエラーが発生しました。"
504, "スタートアップから削除中にえらーが発生しました。"
}
