STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
0, "Русский"
1, "Battery Mode"
2, "Выберите схему электропитания:"
3, "Дополнительные &параметры"
4, "Использовать &одноцветные значки"
5, "Н&астроить горячие клавиши\t%0:s"
6, "&Автозапуск"
7, "Фиксированная &яркость экрана"

9, "В&ыход"
10, "Версия"
11, "Посетить &сайт Battery Mode"
12, "http://bmode.tarcode.ru"
13, "&Информация о системе электропитания"

15, "&Электропитание"
16, "&Включить или выключить системные значки"
17, "Центр &мобильности Windows"

20, "Отображать &индикатор схем электропитания"
21, "&Не отображать"
22, "На &основном мониторе"
23, "На &всех мониторах"

26, "Показывать скрытые схемы электропитания"

30, "Включить адаптивную регулировку яркости"
31, "Выключить адаптивную регулировку яркости"

40, "http://bmode.tarcode.ru/update.uurl"
41, "Автоматическое &обновление"
42, "&Автоматическая проверка обновлений"
43, "&Проверить на наличие обновлений"
44, "Доступна новая версия %0:s\nНажмите для получения подробностей"
45, "Обновление выполнено успешно\nНовая версия %0:s"
46, "Обновление не выполнено\nНажмите для перехода на сайт программы"

50, "Управлять &яркостью мониторов"
51, "Обновить &конфигурацию мониторов"

60, "Экономия заряда"

70, "&Стиль значков"
71, "Windows &7"
72, "Windows &8"
73, "Windows &10"
74, "Windows &8 светлый"
75, "Windows &10 светлый"

80, "П&ланировщик"

90, "Сочетание клавиш для переключения схемы питания"
91, "Отключено"

100, "Экспортировать настройки в файл"
101, "Импортировать настройки из файла"

105, "Настройки %0:s"
106, "Экспорт файла настроек %0:s"
107, "Импорт файла настроек %0:s"

110, "Файлы реестра (*.reg)"
111, "Текстовые файлы (*.txt)"
112, "Все файлы"

120, "&Цвет значков"
121, "Показывает &схему электропитания"
122, "Показывает &заряд батареи"
123, "Всегда &белый"

130, "Отключить &рамку окна"

134, "&Завершение работы или выход из системы"
135, "Сс&ылка в нижней части окна"
136, "От&ключить экран"
137, "Завершение &работы"
138, "Пере&загрузка"
139, "&Спящий режим"
140, "&Гибернация"
141, "В&ыход"
142, "Б&локировать"
143, "Особые &варианты загрузки"
144, "Информация о &батарее"
145, "&Отключиться"

150, "&Язык"
151, "&Системный"

10000, "Открыть папку с логами"
}